altgraph==0.16.1
atomicwrites==1.2.1
attrs==18.2.0
colorama==0.4.0
fbs==0.4.7
future==0.17.1
gitignore-parser==0.0.3
gstreamer-player==1.1.2
macholib==1.11
more-itertools==4.3.0
mutagen==1.41.1
numpy==1.15.4
opencv-python==4.0.0.21
pefile==2018.8.8
pluggy==0.8.0
py==1.7.0
PyInstaller==3.4
PyQt5==5.9.2
PyQt5-sip==4.19.13
pytest==4.0.1
sip==4.19.8
six==1.11.0
pdf2image==1.4.2
pillow==5.4.1
moviepy==1.0.0
