QWidget {
    background-color: #1E1E1E;
 }
 
 QLineEdit {
    background-color: 1E1E1E;
    color: #ffffff;
 }
 
 QLabel {
    background-color: #1E1E1E;
    color: #ffffff;
 }

 QComboBox {
   background-color: #333131;
   color: #ffffff;
 }

 QRadioButton {
   background-color: #333131;
   color: #ffffff; 
   border: 2px solid white;  
 }
 QPushButton {
    background-color: #1E1E1E;
    color: #ffffff;
 }
 